server:
  port: 8080
spring:
  application:
    name: back
  output:
    ansi:
      enabled: always
  jackson:
    serialization:
      fail-on-empty-beans: false
logging:
  level:
    com.back: DEBUG